
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=M+PLUS+2:wght@300&family=Ruluko&display=swap');

:root{

    --c1-blue:#01b7f2;
    --c2-orange:#fdb714;

    --c3-yello: #FFFF00;
    --c4-light-blue:#00ECFF;
    --c5-pink:#FF96FF;
    

    --f1-M2: 'M PLUS 2', sans-serif;
    --f2-ruluko: 'Ruluko', sans-serif;

        --f3-es:'Estonia', cursive;


}
