*{
    margin: 0px;
    padding: 0px;
}
header .logo img {
    width: 50px;
}
header,header .menu ul{
    width: 100%;
    height: 50px;
    display: flex;

}

.menu-btn span{
    width: 30px;
    display: block;
    height: 3px;
    background-color: black;
    margin: 5px;

}
ul{
    list-style: none;
    text-decoration: none;
}
ul li{
    margin: 7px 2px;

}
.menu , .menu-btn{

}